---
import "./Navigation.scss";

interface Props {
  display?: "vertical" | "horizontal";
}

const { display = "horizontal" } = Astro.props;
---

<nav
  class:list={[
    "main-navigation",
    { "main-navigation--vertical": display === "vertical" },
  ]}
>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/proyectos">Proyectos</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>
