---
import SidebarLayout from "../layouts/SidebarLayout/SidebarLayout.astro";
---

<script src="../scripts/greetings"></script>

<SidebarLayout>
  <h2>Homepage</h2>
  <button class="button">Saluda</button>
</SidebarLayout>
