---
import MainLayout from "../layouts/MainLayout/MainLayout.astro";
---

<script src="../scripts/greetings"></script>

<MainLayout>
  <h2>Proyectos</h2>
  <button class="button">Saludar</button>
</MainLayout>
