---
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/700.css";
import "../../styles/index.scss";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mario González - Porfolio</title>
  </head>
  <body>
    <slot />
  </body>
</html>
